@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Inconsolata');

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 3em;
  text-align: center;
  width: 672px;
  margin: 0 auto;
}

.header-item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.logo-first-half,
.logo-second-half {
  font-family: 'Bungee Shade', cursive;
}

.logo-first-half {
  color: navy;
}

.logo-second-half {
  color: maroon;
}

.new-game {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-game button {
  border: 1px solid black;
  background-color: white;
  margin: 0 auto;
}

.board {
  width: 672px;
  margin: 0 auto;
}

.card,
.score {
  font-family: 'Inconsolata', monospace;
}

.card {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: navy;
  position: relative;
}

.card-value {
  font-size: 3em;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 25px;
  left: 38px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card-value::-moz-selection {
  background: transparent;
}

.card-value::selection {
  background: transparent;
}

.face-down {
  background-color: maroon;
}

.face-down span {
  display: none;
}

.game-end {
  text-align: center;
}
