@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Inconsolata');

header {
  display: flex;
  font-size: 3em;
  text-align: center;
  width: 672px;
  margin: 0 auto;
}

.header-item {
  flex-grow: 1;
}

.logo-first-half,
.logo-second-half {
  font-family: 'Bungee Shade', cursive;
}

.logo-first-half {
  color: navy;
}

.logo-second-half {
  color: maroon;
}

.new-game {
  display: flex;
  align-items: center;
}

.new-game button {
  border: 1px solid black;
  background-color: white;
  margin: 0 auto;
}

.board {
  width: 672px;
  margin: 0 auto;
}

.card,
.score {
  font-family: 'Inconsolata', monospace;
}

.card {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
}

.card-value {
  font-size: 3em;
  position: absolute;
  color: white;
  font-weight: bold;
}

.face-down {
  background-color: maroon;
}

.face-down span {
  display: none;
}

.game-end {
  text-align: center;
}
